.library-container{
  width: 100dvh;
  height: 100dvh;
  overflow-y: auto; 
  overflow-x: hidden; 
  position: relative;
  

  &::-webkit-scrollbar {
    width: 8px; 
  }
  
  &::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 4px; 
  }
  
  & > * {
    max-width: 100%;
  }

}

.library-name{
  font-size: 3rem;
}



.library__p{
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(233, 63, 91);
}


