.middle-side{
  // width: 80%;
  // height: 100dvh;
  overflow-y: auto; 
  overflow-x: hidden; 
  position: relative;
// background-color: aqua;
padding: 0 10rem;
margin: 0 auto;//i know it is not working

  &::-webkit-scrollbar {
    width: 8px; 
  }
  
  &::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 4px; 
  }
  
  & > * {
    max-width: 100%;
  }

  
  box-sizing: border-box;
}