.right-side {
  width: 90%;
  padding: 1rem;
  height: 97vh;
  overflow-y: auto;
  // background-color: #fafafa;
  border-left: 1px solid #eee;
  
  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
}