@use "../abstract/variables.scss" as *;
@use "../abstract/mixin.scss" as *;


.leftcm{
  display: flex;
  flex-direction: column;
  &__item{
   @include display-with-small-space;
   padding: .8rem;
   gap: 1rem;
   margin-bottom: 1.5rem;
   color: $white;
   text-decoration: none;

  }
  &__item:hover{
    background-color: $primary-color1;
    border-radius: .5rem;
  }

  &__text{
    font-weight: 550;
    font-size: large;
   text-decoration: none;
   color: $white;

   &__text:hover{
    background-color: $primary-color1;
    border-radius: .5rem;
  }
  }

  
}