@use "../abstract/variables.scss" as *;
@use "../abstract/mixin.scss" as *;


.leftcm{



  &__item{
   @include display-with-small-space;
  }
  &__item:hover{
    // padding: .5rem 3rem;
    background-color: $primary-color1;
    border-radius: .5rem;
  }

  &__text{
    font-weight: 550;
    font-size: large;
  }

  
}