@use "../abstract/variables.scss" as *;

@mixin display-with-small-space{
  display: flex;
    align-items: center;
    gap: $small-gap;
    width: 93%;
}

@mixin display-with-large-space{
  display: flex;
    align-items: center;
    gap: $larg-gap;
    width: 102%;
}


@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin position-absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}


@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition($property: all, $duration: 0.3s) {
  transition: $property $duration ease;
}