$primary-color1 : rgb(233, 63, 91);
$seconadry-color: rgb(255, 196, 0);
$seconadry-deep-gold-color: #B8860B;
$secondary-pale-gold-color:#E6BE8A;


$larg-gap: 15rem;
$small-gap: .6rem;


$slider-height: 400px;
$button-size: 40px;
$dot-size: 12px;
$transition-time: 0.5s;
$white-transparent: rgba(255, 255, 255, 0.5);
$white-hover: rgba(255, 255, 255, 0.8);
$white: white;
$shadow-color: rgba(0, 0, 0, 0.1);

$primary-color: #1DB954;
$text-color: #333;
$background-color: #f5f5f5;
$hover-color: rgba(0, 0, 0, 0.5);