@use "./scss/pages/home.scss" as *;

@use "./scss/abstract/variables.scss" as *;
@use "./scss/abstract/mixin.scss" as *;




@use "./scss/context/middlecontext.scss" as *;


@use "./scss/component/logo.scss" as *;
// @use "./scss/component/profile.scss" as *;
@use "./scss/component/trendslider.scss" as *;
@use "./scss/component/newRelease.scss" as *;
@use "./scss/component/mostlike.scss" as *;
@use "./scss/component/topArtistOftheweek.scss" as *;
@use "./scss/component/footer.scss" as *;
@use "./scss/component/browse.scss" as *;




@use "./scss/pages/middle.scss" as *;
@use "./scss/pages/right.scss" as *;
@use "./scss/pages/left.scss" as *;
@use "./scss/pages/favorite.scss" as *;
@use "./scss/pages/library.scss" as *;










:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  // width: 100%; 
  min-height: 100dvh; 
  color: white!important;
  background-color: #000;
}

*{
   padding: 0;
   margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
}

html {
  font-size: 62.5%;
}